<p>Hey {{ name }},</p>
<p>An Administrator Account has Been created for you please use the login details below</p>
<p><b>Username:</b>{{username}}</p>
<p><b>Password:</b>{{password}}</p>
<p>
    <a href="{{ url }}">Access Portal</a>
</p>

<p>If you did not request this email you can safely ignore it.</p>
<p>Thank you for using our application</p>